body{
    margin: 0;
    background-color: rgb(238, 223, 253);
}

.window{
    width: fit-content;
    background-color: rgb(116, 116, 226);
    position: absolute;
    top: 100px;
    left: 100px;
    cursor: default;

    user-select: none;
    -webkit-user-select: none;

    overflow: hidden;
    border-radius: 10pt;

    transition: border-radius 200ms;
}

.window .menubar{
    background-color: rgb(190, 190, 190);
    padding: 5pt;
}

.window .menubar:active{
    background-color: rgb(143, 143, 143);
}

.window .content{
    min-height: 200pt;
    min-width: 300pt;
    background-color: white;
}